#imageWrapper{
position: relative;
}
#textWrapper{
    position: absolute;
    border: 1px solid red;
    width: 0px;
    height: 0px;
}
.imageBox{
    position: absolute;
    border: 1px solid red;
}